.searchButton{
    position: absolute;
    right:1.5rem ;
}

/*.searchInput{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.error{
    text-align: center;
    color:#b71c1c;
    border: 2px solid #b71c1c;

}